  /*body {
      min-width: 500px;
  }*/
  
  div      {border-radius: 5px;
  }
  
  #title    {margin-left: 3%;
  }

  #header {height: 190px;
           width: 100%;
           background-attachment:fixed;
           background-color: #2d2c2e;
        
        }
  
  #footer {height: 50px;
           width: 100%;
           background-color: #2d2c2e;
           clear: both;
           position: relative;
  }
  .checked {color: #2d2c2e;
}
  .left {height: 2500px;
        width: 190px;
        background-color: #e0eeee;
        float: left;
        position: inherit;
        padding-bottom: 0px;
        padding-top: 0px;
  }
  
  .right {height: 500px;
          width: 20px;
          background-color: #e0eeee;
          float: right;
          position: inherit;
  }
  
  .stuff {display: inline-block;
          margin-top: 6px;
          margin-left: 55px;
          width: 75%;
          height: 1000px;
  }
  

  p,
  li {font-family: 'Cormorant Garamond';
  }
  
  .head {font-size: 20px;
  }

  .about {font-size: 20px;
        text-align: center;
        padding-top: 6px;
}
  
  #name {font-family: Sacramento;
        font-size: 14px;
        float: right;
        margin-top: 10px;
        margin-right: 4%;
        color: lavender;
        text-align: center;
  }
  
  a {color: rgb(69, 32, 235);
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {display: none;
    }
    .stuff {width: 100%;
            margin-left: 10px;
    }
  }